.Contatos{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../../assets/cork-wallet.png');
    color: rgb(50, 50, 50);
}
.Area{
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.Area h1{
    display: none;
}
.Endereços{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Horarios{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.Endereços h2{
    text-align: right;
    font-size: 1.5em;
    font-weight: 600;
}
.Horarios h2{
    font-weight: 600;
}
.Endereços a{
    display: flex;
    flex-direction: row;
}
.Endereços .Midias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 1rem;
}
.Endereços .Midias .Whatsapp{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}
.Endereços .Midias .Instagram{
    display: flex;
    flex-direction: row;
}
.Endereços .Midias h3{
    font-size: 0.75em;
    color: rgb(50, 50, 50);
}
.Endereços a h2{
    font-size: 1em;
}
.Endereços a:hover{
    color: #ffa238;
}
.fa-whatsapp{
    color: rgb(0, 135, 168);
    margin-right: 0.5rem;
}
.fa-instagram{
    color: rgb(0, 135, 168);
    margin-right: 0.5rem;
}
.Endereços a i:hover{
    color: #ffffff;
}
iframe{
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}
@media(max-width:1280px){
    .Area{
        width: 80%;
    }
}
@media(max-width:760px){
    .Contatos{
        height: fit-content;
    }
    .Area{
        width: 80%;
        height: fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        flex-direction: column;
    }
    .Area h1{
        display: block;
        font-size: 1.5em;
        padding-top: 2rem;
        color: rgb(71, 126, 128);
        text-align: center;
    }
    .Endereços h2{
        font-size: 1.3em;
    }
    .Horarios{
        align-items: stretch;
        margin-top: 2rem;
    }
    .Horarios h2{
        font-size: 1.2em;
        text-align: left;
    }
    iframe{
        margin-top: 0.5rem;
        height: 300px;
    }

}