.Cardapio{
    max-width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../../assets/vintage-concrete/vintage-concrete.png');
    color: rgb(0, 0, 0);

}
.Cardapio .Campo{
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 80%;
    height: fit-content;
    text-align: center;
    overflow: show;
}
.Cardapio .Campo h1{
    margin-bottom: 3rem;
    font-size: 2.5em;
    color: #ffa238;
}
.Cardapio .Campo ul{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    gap: 4rem;
}
.Cardapio .Campo ul li{
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
    list-style-type: none;
}
.Cardapio .Campo ul li h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.Cardapio .Campo ul li h3{
    font-weight: 300;
}
.Cardapio .Campo ul li img{
    width: 100%;
    border-radius: 1rem;
}
.title-burguer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.Cardapio-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Cardapio-img img{
    width: 90%;
    
}
@media(max-width:1080px){
    .Cardapio .Campo ul{
        margin-bottom: 6rem;
    }
    .Cardapio .Campo ul li{
        height: fit-content;
    }
    .Cardapio .Campo h1{
        font-size: 2em;
    }
    .Cardapio-img img{
        max-width: 100%;
        height: 100%;
    }
    .title-burguer h2{
        margin-right: 0.5rem;
    }
}